

.signup-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
    padding-bottom: 18px;
    width: 600px;
    height: 650px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text span{
    font-size: 48px;
    font-weight: 700;
}

.text span{
    background: -webkit-linear-gradient(16deg, #3EECAC,  #EE74E1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3EECAC;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
    cursor: pointer;
}

.forgot-password span{
    background: -webkit-linear-gradient(16deg, #3EECAC, #EE74E1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: linear-gradient(6deg, #3EECAC, #EE74E1);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}



